services:
  puppeteer:
    container_name: puppeteer
    image: philiplehmann/puppeteer:24.36.0
    restart: unless-stopped
    environment:
      PORT: 3001
    ports:
      - 3001:3001
    extra_hosts:
      - "host.docker.internal:host-gateway"
