services:
  puppeteer:
    container_name: puppeteer
    image: philiplehmann/puppeteer:24.37.5
    restart: unless-stopped
    environment:
      PORT: 3001
    ports:
      - 3001:3001
    extra_hosts:
      - "host.docker.internal:host-gateway"

  redis:
    container_name: redis
    image: redis:8.6-trixie
    restart: unless-stopped
    ports:
      - 6379:6379
