apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cv-philiplehmann

resources:
- cv-deployment.yaml
- cv-service.yaml
- cv-ingress.yaml

images:
- name: ghcr.io/philip-lehmann/cv
  newName: ghcr.io/philip-lehmann/cv
  newTag: 26-01-28.2885
